.not-found {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.enteredCountries {
  margin-top: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.duplicate {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
}

.green-border {
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px green;
  outline: none;
}

.country-flag {
  width: 32px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 3px;
}

