<nb-card>
  <nb-card-header>Напиши всички държави</nb-card-header>
  <nb-card-body>
    <!-- Input Section -->
    <div class="header">
      <nb-form-field>
        <input nbInput placeholder="Въведи държава"
               [(ngModel)]="currentInput" (keyup.enter)="addCountry()" />
      </nb-form-field>
      <button nbButton status="primary" (click)="addCountry()">Добави</button>
    </div>

    <!-- Error Message -->
    <span *ngIf="countryNotFound" class="not-found">Няма такава държава!</span>

    <!-- Entered Countries Counter -->
    <span class="enteredCountries">ВЪВЕДЕНИ ДЪРЖАВИ: {{ enteredCountriesCount }}/{{ totalCountries }}</span>

    <!-- Table -->
    <nb-card-body>
      <table mat-table [dataSource]="dataSource">

        <!-- Row Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>№</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef>Държава</th>
          <td mat-cell *matCellDef="let element">{{ element.country || '' }}</td>
        </ng-container>

        <!-- Capital Column -->
        <ng-container matColumnDef="capital">
          <th mat-header-cell *matHeaderCellDef>Столица</th>
          <td mat-cell *matCellDef="let element">{{ element.capital || '' }}</td>
        </ng-container>

        <!-- Continent Column -->
        <ng-container matColumnDef="continent">
          <th mat-header-cell *matHeaderCellDef>Континент</th>
          <td mat-cell *matCellDef="let element">{{ element.continent || '' }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </nb-card-body>
  </nb-card-body>
</nb-card>
