.not-found {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.enteredCountries {
  margin-top: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.duplicate {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5px;
}
